name: Manual Publish tcg genshin-db Package to npm
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm run assemble
      - run: npm run publish tcg
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
